
<% provide(:title, "Forgot password") %>

<div class="login_page_cover">
  <div class="login_page">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <div class="float_jp">
            パスワード再設定
          </div>
          <div class="base_en">
            Reset Password
          </div>
        </div>
        <% if !flash["failed_en"].nil? || !flash["failed_en"].nil? %>
          <div class="alert alert-danger alert-message" role="alert">
            <div class="error_jp">
              <%= flash["failed_jp"] %>
            </div>
            <div class="error_en">
              <%= flash["failed_en"] %>
            </div>
          </div>
          <% flash["failed_en"] = nil %>
          <% flash["failed_jp"] = nil %>
        <% end %>
        <%= form_for(:password_reset, url: password_resets_path) do |f| %>
          <div class="input-groups">
            <div class="input_title">
              <div class="float_jp">
                メールアドレス
              </div>
              Mail Address
            </div>
            <div class="">
              <%= f.email_field :email, class: 'form-control input_form' %>
            </div>
          </div>
          <div class="submit_button_cover">
            <button type="submit"class="submit_button btn btn-default">
              <div class="float_jp">
                送信
              </div>
              <div class="base_en">
                Send
              </div>
            </button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
