
<% provide(:title, "Forgot password") %>

<div class="login_page_cover">
  <div class="login_page">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="title">
          <div class="float_jp">
            パスワード再設定
          </div>
          <div class="base_en">
            Reset Password
          </div>
        </div>
        <div class="input-groups">
          <div class="input_title">
            <div class="float_jp"style="font-size:15px;margin-bottom:10px;">
              メールを送信いたしました。送られたメールのURLを開いて、パスワードを変更してください。
            </div>
            We send a mail. Please open the url of the mail and change your password.
          </div>
          <div class="">
          </div>
        </div>
        <div class="submit_button_cover">
          <!--<button type="submit"class="submit_button btn btn-default">
            <div class="float_jp">
              再送信
            </div>
            <div class="base_en">
              Resend
            </div>
          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>
