
<p>日本語の文は下の方にあります↓</p>
<br>
<p>Notice from the FreFre administrative office -------------------</p>
<p> Please access the following URL and change your password. </p>

<%= link_to "Change password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p> ※ If the above URL can not be opened, please copy and paste the URL into the address field of the web browser. </P>
<br><br><br>
<p>FreFre フレフレ運営事務局からのお知らせ ―――――――――――――――――― </p>
<p>  下記URLにアクセスし、パスワードを変更してください。</p>

<%= link_to "パスワードを変更する", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>※上記URLが開けない場合は、Webブラウザのアドレス欄に、URLをコピーし、貼り付けてアクセスして下さい。 </p>
