<h1>Thread all</h1>
<div id="groups">
  <%= render @groups %>
</div>

<% require 'rest-client' %>

<% response = RestClient.get('https://api.microsofttranslator.com/V2/Http.svc/Translate?text=place&to=ja',
{"Ocp-Apim-Subscription-Key" => 'd0d8d178e5f54dcaab373fe9896fdb3a'}) %>
<%= response.body %>
