<div class="thread_all">
  <div class="thread_all_title">
    <% if lang != "jap" %>
      <div>Thread All</div>
    <% else %>
      <div>スレッド一覧</div>
    <% end %>
  </div>
</div>

<h1>Thread all</h1>
<div id="groups">
  <%= render @groups %>
</div>

<% require 'rest-client' %>
