.category_all {
  padding-left:10px;
  .category_all_title{

    width:calc(70vw);
    border: solid 1px #000000;
    background-color: rgba(255,235,110,1);
    padding:5px;
    padding-left:8px;
    font-size:30px;
    padding-left:20px;
    .innerTitle{
      padding-left:10px;
    }
    margin-bottom:30px;
  }
  .category_all_content{
    margin-bottom:200px;
    width:70vw;
    color:#000000;
    border-bottom: solid 2px #000000;
    .thread_link{
      text-decoration: none;
    }
    .thread_cover{
      height:180px;
      border-left: solid 2px #000000;
      border-right: solid 2px #000000;
      border-top: solid 2px #000000;

      .thread_title{
        width:calc(70vw - 4px);
        border-bottom: solid 1px #000000;
        background-color: rgba(175, 238, 238,1);
        padding:5px;
        font-size:30px;
        padding-left:20px;
      }
      .thread_content {
        color:#000000;
        .group_user_cover{
          width:100px;
          .group_img {
            margin-left:10px;
            margin-top:10px;
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius:50%;
          }
          .group_name{
            font-size:20px;
            text-align: center;
          }
        }
        .post_content_cover{
          font-size:25px;
          float:left;
          margin-top:-120px;
          padding-left:120px;
          .post_content{
            width:500px;
            height:105px;
            .post_content_l{
              margin:auto;
            }
          }
        }
        .move_thread{
          font-size:18px;
          margin-top:-35px;
          float:right;
          padding-right:10px;
        }
      }

      .thread_content:hover {
        color: #aaaaaa;
      }
    }
  }
}
