.category_list_all_cover{
  width:800px;
  margin-top:10px;
  a {
    text-decoration: none;
    color:rgba(99,176,189,1);
  }
  a:hover{
    color:rgba(99,176,189,0.5);
  }
  .search_result{
    width:55vw;
    margin-left:10px;
    margin-bottom:10px;
    .icon{
      font-size:35px;
      padding-top:15px;
      color:rgba(255,235,150,1);
    }
    .search_panel{
      height:70px;
      padding-bottom:10px;
      border:solid 2px #cccccc;
      border-radius:5px;
      font-size:20px;
      .not_found{
        padding-top:20px;
        font-size:20px;
      }
      .bigcategory_only{
        float:left;
        .category_title{
          font-size:30px;
          margin-top:10px;
          background-color: rgba(255,236,183,1);
        }
      }
      .smallcategory{
        padding-top:20px;
        padding-left:10px;
        float:left;
        .text{
        }

      }
    }
  }
  .category_head{
    padding-left:20px;
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:3px solid #fff2a0;
    .panel-title{
      font-size:20px;
      color:#BF8454;
      .float_jp{
        font-size:12px;
      }
    }
  }
  .big_category_list{
    margin-bottom:5px;
    .category_head{
      background-color: rgba(255,235,110,1);
      .panel-title{
        font-size:20px;
        .float_jp{
          font-size:12px;
        }
      }
    }
    .change_icon{
      margin-right:2px;
      margin-top:2px;
    }
    .category_content{
      padding-left:30px;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      border-bottom:2px solid #faebcc;
      background:#ffffff;
      .bigcategory_only:hover{
        color:#999;
      }
      .bigcategory_only{
        display: inline-block;
        min-width: 40%;
        padding-left:10px;
        margin-top:5px;
        cursor : pointer;
        margin-right:60px;
        font-size:20px;
        .category_title{
          .cate_name{
            margin-left:2px;
            margin-right:15px;
            float:left;
            .float_jp{
              font-size:12px;
            }
          }
          .cate_icon{
            font-size:20px;
            margin-top:15px;
            margin-right:5px;
            float:left;
          }
        }
      }
      .smallcategory{
        cursor : pointer;
        padding-top:5px;
        margin-bottom:10px;
        font-size:18px;
      }
    }
  }
  .all_category_list{
    width:800px;
    margin-left:10px;
    ul {
      list-style: none;
      margin:  0;
      padding: 0;
    }
    .category_head{
      background-color: rgba(255,236,183,1);
      .panel-title{
        font-size:20px;
        .float_jp{
          font-size:12px;
        }
      }
    }
    .category_all_content{
      padding-left:50px;
      padding-right:50px;
      .bigcategory_add{
        background-color: rgba(255,236,183,1);
        .category_title{
          font-size:20px;
          .float_jp{
            font-size:12px;
          }
        }
      }
      .smallcategory{
        font-size:20px;
        padding-top:10px;
        padding-bottom:10px;
        .text{
          cursor : pointer;
          padding:10px;
          padding-left:40px;
          .float_jp{
            font-size:12px;
          }
        }
      }
    }
  }
}
