.main_content_cover{
  padding-top:70px;
  padding-bottom:450px;
  padding-left:calc(5%);
  width:calc(30% + 500px);
  display: inline-block;
  .obj-fit-img {
    object-fit: cover;
    object-position: 0 100%;
    font-family: 'object-fit: cover; object-position: 0 100%;'
  }
}
body{
  background:#fff0a042;
}
@media screen and (max-width: 600px){
  .main_content_cover{
    width:680px;
  }
  .lang_bar_cover{
    width:600px!important;
  }
}
@media screen and (max-width: 480px){
  .nav-link{
    font-size: 4vw!important;
    .jp{
      font-size: 3vw!important;
    }
  }
  .profile_sub{
    width:25%!important;
    .profile_picture{
      width:100%!important;
      .group_img{
        width:100%!important;
      }
    }
    .profile_contents_change{
      width:100%!important;
    }
  }
  .not_logined_cover {
    margin-left:0px!important;
    width: 100%!important;
    margin-right:30px;
  }
  .search_form{
    display: none!important;
  }
  .main_content_cover{
    width:100%!important;
    padding-left: 5px!important;
  }
  .profile_sub{
    margin-left: 14px;
  }
  .profile_history{
    margin-left: 5px!important;
  }
  .category_list_all_cover{
    width:110%!important;
  }
  .category_head{
    width:90%!important;
  }
  .big_category_list{
    width: 95%!important;
    margin-left: -10px!important;
  }
  .thread_cover{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .thread_all{
    padding-left: 0px!important;
    padding-right: 5px!important;
  }
  .content_cover{
    margin-left: 0px!important;
    margin-right: -15px!important;
  }
  .flag_image{
    margin-left:calc(33% - 20px)!important;
  }
  #ui-id-2-button{
    position: static!important;
    margin-top: 0px!important;
    margin-left: 0px!important;
  }
  .post_form_cover_en{
    width:90%!important;
    margin-left:5%!important;
  }
  .words_post_button {
    padding-top:20px!important;
    padding-left:5px!important;
    padding-right:10px!important;
    .button_text{
      display:none!important;
    }
  }
  .space_form{
    padding-left: 0px!important;
  }
  .post_footer{
    width:90%!important;
  }
  .post_form_cover_enjp{
    width:calc(50% - 5px)!important;
    ::placeholder{
    }
  }
  .post_form_cover_jp{
    width:90%!important;
    margin-left:5%!important;
  }
  .lang_bar_cover{
    width:100%;
    .en_country{
      margin-left: 50px;
    }
    .lang_bar{
      padding-left:2px!important;
      .slider{
        width:calc(80vw - 120px)!important;
      }
    }
    .country_flag{
      width:8vw;
      height:6vw;
      margin-right:1vw!important;
      .image{
        width:100%!important;
        height:100%!important;
      }
    }
    .slider-handle{
      top: -5px !important;
      width: 10px !important;
      height: 10px !important;
      background: rgb(80, 120, 220);
      z-index:50;
    }
  }
  .make_thread_category{
    width:95%!important;
  }
}
