.main_content_cover{
  padding-top:70px;
  padding-bottom:40px;
  padding-left:calc(5%);
  width:calc(70%);
  display: inline-block;
  .obj-fit-img {
    object-fit: cover;
    object-position: 0 100%;
    font-family: 'object-fit: cover; object-position: 0 100%;'
  }
}
body{
  background:#fff0a042;
}
@media screen and (max-width: 600px){
  .profile{
    .lang_bar_cover{
      width:70%!important;
    }
  }
  .lang_bar_cover{
    width:600px!important;
  }
}
@media screen and (max-width: 800px){
  .login_page{
    .input-groups{
      margin-left: 20px!important;
      margin-right: 20px!important;
    }
    .password_reset{
      margin-right: 15px!important;
    }
  }
  .search_form{
    display: none!important;
  }
  .main_content_cover{
    width:560px!important;
    padding-left: 5px!important;
  }
  .profile_history{
    margin-left: 5px!important;
  }
  .category_list_all_cover{
    width:100%!important;
  }
  .category_head{
    width:90%!important;
  }
  .category_all_content{
    margin-left: -35px!important;
    margin-right: -35px!important;
  }
  .big_category_list{
    width: 95%!important;
  }
  .thread_cover{
    padding-left: 5px!important;
    padding-right: 5px!important;
  }
  .thread_all{
    padding-left: 0px!important;
    padding-right: 5px!important;
  }
  .content_cover{
    margin-left: 0px!important;
    margin-right: -15px!important;
  }
  .flag_image{
    margin-left:calc(33% - 20px)!important;
  }
  .ui-selectmenu-button:nth-child(2){
    margin-top: 0px!important;
    margin-left: 0px!important;
  }
  .make_content{
    .category_modal_open{
      display:block;
    }
  }
  .post_form_cover_en{
    width:90%!important;
    margin-left:5%!important;
  }
  .space_form{
    padding-left: 0px!important;
  }
  .post_footer{
    width:80%!important;
  }
  .post_form{
    width:6%!important;
    .image_post_button{
      width:100%!important;
      font-size:150%!important;
      padding:0px;
    }
  }
  .post_form_cover_enjp{
    width:calc(50% - 5px)!important;
    ::placeholder{
    }
  }
  .post_form_cover_jp{
    width:90%!important;
    margin-left:5%!important;
  }
  .make_thread_cover{
    .post_footer{
      margin-left:10px!important;
      width:calc(95%)!important;
    }
    .post_text{
      padding-left:1vw!important;
      padding-right:1vw!important;
      .picture_send{
        font-size:calc(4vw)!important;
      }
    }
    .words_post_button{
      padding-left: calc(5vw - 15px)!important;
      padding-right: calc(5vw - 10px)!important;
    }
  }
  .profile{
    .lang_bar_cover{
      width:70%!important;
      .lang_bar{
        .slider{
          width:calc(60%)!important;
        }
      }
      .jp_country{
        margin-left: 10px!important;
      }
      .country_flag{
        height: 28px;
        width: 40px;
        margin-right:1vw!important;
        margin-left:1vw!important;
        .image{
          width:100%!important;
          height:100%!important;
        }
      }
    }
  }

  .lang_bar_cover{
    width:105%!important;
    .en_country{
      margin-left: 50px;
    }
    .lang_bar{
      padding-left:2px!important;
      .slider{
        width:calc(80vw - 120px)!important;
      }
    }
    .country_flag{
      width:32px;
      height:24px;
      margin-right:1vw!important;
      .image{
        width:100%!important;
        height:100%!important;
      }
    }
    .slider-handle{
      top: -5px !important;
      width: 10px !important;
      height: 10px !important;
      background: rgb(80, 120, 220);
      z-index:50;
      .slider_icon{
        color:#fff;
        margin-left:2px;
        margin-top:2.5px;
        font-size:25px;
      }
    }
  }
  .make_thread_category{
    width:93%!important;
  }
}

@media screen and (max-width: 480px){
  .not_logined_cover {
    margin-left:0px!important;
    width: 100%!important;
    margin-right:30px;
  }
  .main_content_cover{
    width:100%!important;
  }
  .login_page{
    width:99vw!important;
  }
  .words_post_button {
    padding-top:20px!important;
    padding-left:5px!important;
    padding-right:10px!important;
    .button_text{
      display:none!important;
    }
  }

  .nav-link{
    font-size: calc(4vw - 3px)!important;
    .jp{
      font-size: calc(3vw - 3px)!important;
    }
  }
  .profile_sub{
    width:25%!important;
    .profile_picture{
      width:100%!important;
      .group_img{
        width:100%!important;
      }
    }
    .profile_contents_change{
      width:100%!important;
    }
  }
  .profile_other, .profile{
    .profile_main{
      margin-left:calc(30% - 20px)!important;
    }
    .profile_picture .group_img{
      height:18vw!important;
    }
    .profile_title .title{
      .jp{
        font-size:calc(3vw - 3px)!important;
      }
      font-size:calc(5vw - 3px)!important;
    }
    .content_name{
      .en{
        font-size:calc(5vw - 3px);
      }
      .jp{
        font-size:calc(3vw - 3px)!important;
      }
    }
    .tab-content{
      padding-top:calc(14vw + 20px)!important;
    }
    .profile_picture_change{
      .en{
        font-size: calc(4vw - 3px)!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: calc(3vw - 3px)!important;
      }
    }
    .profile_contents_button{
      .en{
        font-size: calc(4vw - 2px)!important;
        margin-top: 1px!important;
      }
      .jp{
        font-size: calc(3vw - 3px)!important;
      }
    }
    .en_country{
      margin-left: 10px!important;
    }
    .lang_bar_cover{
      width:70%!important;
      margin-top:calc(16px + 7vw)!important;
      .lang_bar{
        .slider{
          width:calc(65%)!important;
        }
      }
      .jp_country{
        margin-left: 10px!important;
      }
      .country_flag{
        width:7vw;
        height:5vw;
        margin-right:1vw!important;
        .image{
          width:100%!important;
          height:100%!important;
        }
      }
    }
  }
}
