
.ui-selectmenu-open{
  overflow-y: scroll!important;
  height: 150px!important;
  .ui-corner-bottom{
    height: 150px!important;
  }
}
.make_thread_cover{
  .make_header{
    font-size: 20px;
    margin-left:10px;
    .make_title{
      background-color: rgba(255,235,110,1);
    }
  }
  .category_head{
    padding-left:20px;
    padding-bottom:10px;
    margin-bottom:20px;
    border-bottom:3px solid #fff2a0;
    .panel-title{
      font-size:20px;
      color:#BF8454;
      .float_jp{
        font-size:12px;
      }
      .panel-title-text{
        display:inline-block;
        vertical-align: bottom;
      }
      .thread_post_button{
        display:inline-block;
        vertical-align: bottom;
        margin-left:calc(100% - 300px);
        font-size:18px;
        color:#fff;
        background:rgb(181, 206, 255);;
        .jp{
          font-size:12px;
        }
      }
    }
  }
  .make_thread_category{
    margin-left:10px;
    font-size:20px;
    margin-left:10px;
    border:1px solid #faebcc;
    ul li {
      list-style: none;
    }
    label {
      margin-right: 10px;
      width:150px;
      float: left;
      font-family:'alba';
    }
    .make_content{
      width:100%;
      font-size:20px;
      padding-bottom:0px;
      .now_category{
        .add_category{
          display: inline-block;
          margin-left: 20px;
          margin-bottom: 20px;
          font-size:18px;
          .jp{
            font-size:14px;
          }
        }
      }
      .select_category_title{
        margin-top:10px;
        margin-left:25px;
        font-size:20px;
        display: inline-block;
        .jp{
          font-size:14px;
        }
      }
      .category_modal_open{
        display:inline-block;
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left:30px;
        border:none;
        background:#fff4bf;
        color:#cd853f;
        font-size:16px;
        border: solid thin #cd853f75;
        .jp{
          font-size:10px;
        }
      }
      .option_category_search{
        margin-top:20px;
        padding:5px;
        padding-top:10px;
        padding-bottom:10px;
        background-color: #eeeeee;
        border-radius: 5px;
        .category_search{
        }
        .search_explain{
          font-size:14px;
          padding-top:5px;
          margin-left:20px;
          .en{
          }
          .jp{
          }
        }
      }
      .title_input_all{
        padding-top:10px;
        .title_input_form{
          width:400px;
        }
      }
      .content_input_all{
        padding-top:20px;
        .content_input_form{
          width:400px;
        }
      }
    }
    .big-category{
      margin-left:10px;
      .big_select{
        margin-top:10px;
      }
    }
    .small-category{
      margin-left:40px;
      margin-top:10px;
      .ui-selectmenu-button:nth-child(2){
        position: absolute;
        margin-top:-57px;
        margin-left: 190px;
      }
    }
    .sub_jp{
      font-size:12px;
    }
    .main_en{
      margin-top: -6px;
    }
    .title_input{
      margin-top:5px;
      .title_input_form{
        font-size:15px;
        width:100%;
      }
      .form_lang{
        display: inline-block;
        margin-left:5px;
        margin-right:5px;
        width:calc(50% - 20px);
      }
    }
    .content_input{
      margin-top:5px;
      .content_input_form{
        width:100%;
        border-radius:3px;
        border:solid 1px #dddddd;
      }
      .form_lang{
        display: inline-block;
        margin-left:5px;
        margin-right:5px;
        width:calc(50% - 20px);
      }
    }
    .flag_show{
      margin-top:10px;
      .flag_image{
        display:inline-block;
        margin-left: 30%;
        .image{
          height:27px;
          width:40px;
        }
      }
    }
    .content_cover{
      margin-left: 20px;
      margin-right: 20px;
      padding-top:5px;
      font-size:20px;
    }
    .title_input_name{
      margin-top:5px;
    }
    .content_input_name{
      margin-top:5px;
    }
    .submit_cover{
      width:100%;
      height:40px;
      margin-bottom:10px;
      .submit_button{
        font-size:15px;
        margin-left:350px;
        background-color: rgba(255,235,110,1);
        padding:7px;
        padding-left:15px;
        padding-right:15px;
      }
    }
  }
  .post_footer{
    margin-left:30px;
    display: inline-block;
    bottom:5px;
    width:calc(30% + 350px);
    background: #ffffff;
    border:solid thin #BF8454;
    //padding:10px;
    border-radius:5px;
    max-height:60px;
    .picture_send{
      color: #cd853f;
      font-size:20px;
      margin-left: 10px;
    }
    .post_text{
      color: #cd853f;
      display:inline-block;
      font-size:18px;
      padding:10px;
      .float_jp{
        font-size:12px;
      }
    }
    .image_btn{
      height:40px;
      .picture_send{
        bottom:10px;
      }
    }
    .post_button{
      background: #fff0a08f!important;
      border: solid thin #cd853f75;
      color:#cd853f;
      padding-left: 10px!important;
      padding-right: 10px!important;
      vertical-align:top;
      margin-top: 5px;
      margin-right:1vw;
      .image{
        width:28px;
        height:20px;
        margin-top:-15px;
      }
      .picture_send{
        display: inline-block;
        margin-right:0px;
        width:28px;
        margin-left:5px!important;
      }
      .button_text{
        display: inline-block;
        .float_jp{
          font-size:11px;
        }
      }
    }
  }
  .submit_button_cover{
    margin-left: 50px;
    width:700px;
    .button_panel_cover{
      font-size:14px;
      display: inline-block;
      vertical-align: top;
      width:calc(33% - 10px);
      .button_panel{
        background: #fff0a042;
        width:100%;
        .panel-body{
          height:150px;
          position:relative;
        }
      }
      .post_button{
        margin-top: 20px;
        background: #fff0a0;
        border:none;
        color:#cd853f;
        padding-left:20px;
        padding-right:20px;
        word-wrap: break-word;
        margin-left:calc(50% - 60px);
        position:absolute;
        bottom:5px;
        .picture_send{
          display: inline-block;
          margin-right:10px;
        }
      }
      .especial{
        margin-left:calc(50% - 70px);
      }
    }
  }
  .add_button{
    position: sticky;
    padding-left: calc(100% - 250px);
    top: calc(100vh - 100px);
    z-index:200;
    .scroll_button{
      display: inline-block;
      z-index:100;
      background: #fff0a0;
      border: solid thin #cd853f75;
      color:#cd853f;
      padding-left:20px;
      padding-right:20px;
      vertical-align:top;
      margin-top: 5px;
      margin-right:1vw;
      .image{
        width:28px;
        height:20px;
        margin-top:-15px;
      }
      .picture_send{
        display: inline-block;
        margin-right:0px;
        width:28px;
        margin-left:5px!important;
      }
      .button_text{
        display: inline-block;
        .float_jp{
          font-size:11px;
        }
      }
    }
    .close_button{
      display: inline-block;
      z-index:100;
      background: #fff;
      border: solid thin #cd853f75;
      color:#cd853f;
      padding-left:20px;
      padding-right:20px;
      vertical-align:top;
      margin-top: 5px;
      margin-right:1vw;
      .image{
        width:28px;
        height:20px;
        margin-top:-15px;
      }
      .picture_send{
        display: inline-block;
        margin-right:0px;
        width:28px;
        margin-left:5px!important;
      }
      .button_text{
        display: inline-block;
        .float_jp{
          font-size:11px;
        }
      }
    }
  }
  .select-title{
    font-weight: inherit;
    margin:5px;
    font-size:22px;
    .float_jp{
      font-size:14px;
    }
  }
  .all_category_list{
    width:100%;
    margin-top:-50px;
    .category_content{
      padding-left:20px;
      border-top-left-radius:10px;
      border-top-right-radius:10px;
      border-bottom:2px solid #faebcc;
      background:#ffffff;
      .bigcategory_only:hover{
        color:#999;
      }
      .bigcategory_only{
        display: inline-block;
        min-width: 40%;
        padding-left:10px;
        margin-top:5px;
        cursor : pointer;
        margin-right:60px;
        font-size:20px;
        .category_title{
          .cate_name{
            margin-left:30px;
            .float_jp{
              font-size:12px;
            }
          }
          .cate_icon{
            font-size:20px;
            margin-top:15px;
            margin-right:5px;
            position:absolute;
          }
        }
      }
      .smallcategory{
        cursor : pointer;
        padding-top:5px;
        margin-bottom:10px;
        font-size:18px;
      }
    }
    ul {
      list-style: none;
      margin:  0;
      padding: 0;
    }
    .category_head{
      background-color: rgba(255,236,183,1);
      .panel-title{
        font-size:20px;
        .float_jp{
          font-size:12px;
        }
      }
    }
    .category_all_content{
      padding-left:50px;
      padding-right:50px;
      .bigcategory_add{
        background-color: rgba(255,236,183,1);
        .category_title{
          font-size:20px;
          .float_jp{
            font-size:12px;
          }
        }
      }
      .smallcategory{
        font-size:20px;
        padding-top:10px;
        padding-bottom:10px;
        .text{
          cursor : pointer;
          padding:10px;
          padding-left:40px;
          .float_jp{
            font-size:12px;
          }
        }
      }
    }
  }
}

.not_logined_cover{
  position:absolute;
  vertical-align: center;
  margin-left:calc(50% - 250px);
  width:450px;
  .not_logined{
    font-size:16px;
    margin:10px;
    margin-left: 30px;
    .login_or_signin{
      margin-top:60px;
      border:none;
      background-color: rgba(255,235,110,1);
      color:#BF8454;
      margin-left:calc(25% - 40px);
      font-size: 18px;
      padding-left:20px;
      padding-right:20px;
      .jp{
        font-size:12px;
      }
      .en{
        margin-top:-3px;
      }
    }
  }
}

select{
    width:200px;
    outline:none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    color: inherit;
    -moz-appearance: button;
    appearance: button;
    padding-left:10px;
}
select option{
  background-color: #fff;
  color: #333;
}
select::-ms-expand {
  display: none;
}
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}
.ui-menu{
  padding-top: 5px;
  padding-bottom: 5px !important;
  border-radius: 5px;
}
.ui-selectmenu-text{
  background-color:#ffffff;
}
.ui-menu-item{
  background-color:#ffffff;
  margin-top:10px;
}
.ui-selectmenu-button span.ui-selectmenu-text{
  margin-left:-10px;
  margin-top:-7px;
  height:45px;
  border-radius:10px;
}
.ui-widget-content .ui-state-focus{
  background:#4e91f7;
  color:#ffffff;
}
.ui-selectmenu-menu-item-header{
  font-weight: normal !important;
  font-size: 10px !important;
}
.ui-selectmenu-menu-item-content{
  font-weight: normal !important;
  font-size: 15px !important;
  margin-top:-2px;
}
