.login_page_cover{
  vertical-align: center;
  padding-left:calc(50% - 100px);
  .login_page{
    width:500px;
    vertical-align: center;
    text-align: center;
    .first_coment{
      font-size: 25px
    }
    .title{
      font-size: 25px;
      margin-top:20px;
      .float_jp{
        font-size:12px;
      }
      .base_en{
        margin-top:-2px;
      }
    }
    .input-groups{
      .title{
        font-size: 20px;
        .float_jp{
          font-size: 12px;
        }
      }
      .input_form{
        margin-top:30px;
      }
    }
    .submit_button_cover{
      margin-top:40px;
      .submit_button{
        padding-left:20px;
        padding-right:20px;
        font-size:17px;
        background:#fff0a0;
        .float_jp{
          font-size:10px;
        }
      }
    }
  }
}
