.profile{
  ::-webkit-input-placeholder {
    color: #bbbbbb;
  }
  .profile_sub{
      position:fixed;
  }
  .profile_main{
    display:inline-block;
    width:70%;
    position:absolute;
    margin-left:160px;
  }
  .profile_picture{
    width:160px;
    .group_img{
      width: 160px; /* 任意の幅を指定 */
      height: 100px; /* 任意の高さを指定 */
      object-fit:cover;
    }
    .profile_picture_change{
      background-color: #dddddd;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border:none;
      width:100%;
      text-align:center;
      padding:2px;
      box-shadow: none;
      .jp{
        font-size:12px;
      }
      .en{
        font-size:18px;
        margin-top:-3px;
      }
    }
    .profile_picture_change:hover{
      background-color: #cccccc;
    }
    margin-bottom:20px;
  }
  .profile_contents_change{
    width:160px;
    border-radius:5px;
    .nav{
      border-radius: 5px;
      border: solid 2px #dddddd;
      border-bottom: solid 1px #dddddd;
    }
    .profile_contents_button{
      background: #fff;
      border-bottom:solid 2px #dddddd;
      .jp{
        font-size:10px;
      }
      .en{
        font-size:16px;
      }
    }
  }
  .profile_title{
    margin-left:15px;
    .title{
      margin-left:20px;
      margin-right:15px;
      font-size:22px;
      margin-bottom:10px;
      .jp{
        font-size:12px;
      }
    }
  }
  .profile_page{
    font-size:18px;
    margin-left:15px;
    background-color: #fff0b0;
    border-radius:5px;
    .profile_content{
      border-radius:5px;
      padding-left:15px;
      padding-right:15px;
      padding-top:5px;
      .profile_content_data{
        padding:5px;
        .content_checkbox{
          margin-top:10px;
          margin-left:10px;
          margin-right:4px;
        }
        .content_select{
          margin-top:5px;
          background-color:#ffffff;
          border:solid 1px #dddddd;
          height:35px;
          margin-right:10px;
          width:20%;
        }
        .content_name{
          padding-top:5px;
          color:#cd853f;
          .jp{
            font-size:12px;
          }
          .en{
            margin-top:-2px;
          }
        }
        .content_input{
          margin-top:10px;
          padding:2px;
          padding-left:10px;
          padding-right:10px;
          width:100%;
          margin-right:30px;
          font-size:18px;
        }
        .textarea{
          //height:100px;
        }
      }
      .self_introduction{
        margin-top:10px;
        margin-bottom:10px;
        margin-right:10px;
        margin-left: -30px;
      }
    }
  }
  .save_button{
    margin-left: 20px;
    margin-top:-10px;
    border:0px;
    font-size:15px;
    padding:10px;
    background-color: #fff0b0;
    color:#CF9454;
  }
}

.profiled {
  font-size: 4vh;
  .content {
    height:7vh;
    width:100%;
    border: solid 1px #000000;
  }
  .show_type{
    float:left;
  }
  .show_data{
    float:left;
  }
  .edit {
    float: right;
  }
  .edit_change{
    padding-left:10px;
    float:right;
  }
}
.ui-dialog{
  width:500px !important;
  margin:auto !important;
}
