.profile {
  font-size: 4vh;
  .content {
    height:7vh;
    width:100%;
    border: solid 1px #000000;
  }
  .show_type{
    float:left;
  }
  .show_data{
    float:left;
  }
  .edit {
    float: right;
  }
  .edit_change{
    padding-left:10px;
    float:right;
  }
}
