
.pvpage_all{
  width:800px;
  margin-left:10px;
  .pvpage_head{
    background-color: rgba(255,235,110,1);
    .panel-title{
      font-size:20px;
    }
  }
  .pvpage_lang{
    .lang_show{
      font-size:20px;
      text-align:center;
    }
  }
  .thread_all{
    .thread_title{
      background-color: rgba(255,235,110,1);
    }
    .thread_content{
      height:110px;
      color:#000000;
      .group_user_cover{
        .group_img_cover{
          text-align: center;
          .group_img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius:50%;
          }
        }
        .group_name{
          padding-top:1px;
          font-size:15px;
          text-align: center;
        }
      }
      .post_content_cover{
        font-size:20px;
        float:left;
        padding-left:20px;
        .post_content{
          height:55px;
          .post_content_text{
            margin:auto;
          }
        }
      }
      .lang_type{
        float:right;
        margin-top:4px;
        .lang-show{
          border-radius: 5px;
          font-size:15px;
          padding:4px;
          padding-left:7px;
          padding-right:7px;
          background-color: rgba(255,225,139,1);
        }
      }
    }
  }
}
.thread_link:hover{
  .thread_content{
    background-color: rgba(252,248,210,1);
  }
}
