.search_result{
  .thread_link:hover{
    .thread_cover{
      background-color: rgba(252,248,210,1);
    }
  }
  .lang_bar_cover{
    margin-top:-70px;
    background: #ffffff;
    position:fixed;
    width:100%;
    padding-top:8px;
    margin-left:-5%;
    padding-left:5%;
    border-bottom: solid thin #BF8454;
    .lang_bar{
      padding-left:calc(10% + 80px);
      padding-top:8px;
      padding-bottom:8px;
      .slider{
        width:calc(10% + 250px);
        display: inline-block;
        .tooltip{
          display: none !important;
        }
        .slider-handle{
          top: -5px !important;
          width: 30px !important;
          height: 30px !important;
          background: rgb(80, 120, 220);
          z-index:50;
        }
        .slider-selection{
          //height: 20px !important;
          //top: -5px !important;
          background: rgb(46, 82, 189);
        }
        .slider-track-high{
          //top: -5px;
          //height:20px;
          background: #fff;
          -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2)
        }
      }
      .country_flag{
        display: inline-block;
        margin-right: 10px;
        .image{
          height:28px;
          width:40px;
        }
      }
      .jp_country{
        margin-left:18px;
      }
    }
  }
  .search_form{
    margin-top:50px;
    font-weight: bold;
    margin-left:20px;
    padding-bottom:10px;
    .form_input{
      font-size:16px;
      height:40px;
      border-radius: 4px!important;
      font-weight: lighter;
    }
    .form_button{
      margin-left:10px;
      border-radius:4px;
      border:solid thin #dddddd;
      background:#fff2a0;
      color: #BF8454;
      padding-left:25px;
      padding-right:25px;
    }
  }
  .scroll_cover {
    height:60px;
    margin-left:50px;
    display:inline-block;
    .example{
      margin-top:10px;
      overflow-x: scroll;
      width:390px;
    }
    .image_cover{
      position:absolute;
      .image{
        margin-top:-50px;
        margin-bottom:10px;
        margin-left:10px;
        width:35px;
        height:25px;
      }
      .jp{
        margin-left:340px;
      }
    }
    .image_covers{
      display: inline-block;
      .image{
        margin-top:10px;
        margin-bottom:10px;
        margin-left:10px;
        width:50px;
        height:33px;
      }
    }
    .image_space{
      display: inline-block;
      padding-left:250px;
    }
    div::-webkit-scrollbar{
      width:40px;
      height:40px;
    }
    div::-webkit-scrollbar-track{
      background: #fff;
      border: none;
      border-radius: 15px;
      box-shadow: inset 0 0 2px #BF8454;
    }
    div::-webkit-scrollbar-thumb{
      background:#fff0a0;
      border-radius: 50%;
      width:40px;
      height:40px;
    }
  }
  .panel-title{
    display: inline-block;
    margin-bottom:10px;
    padding-left:20px;
    font-size:20px;
    color:#BF8454;
    .float_jp{
      font-size:12px;
    }
  }
  .pvpage_head{
    border-top:3px solid #fff2a0;
    .pvpage_lang{
      display:inline-block;
      vertical-align: bottom;
      width:100%;
      padding-top:10px;
      .en_position{
        margin-left:calc(20% + 70px);
      }
      .jp_position{
        margin-left:calc(55% - 195px);
      }
      .lang_show{
        display:inline-block;
        font-size:20px;
        text-align:center;
        .float_jp{
          font-size:12px;
        }
        .base_en{
          margin-top:-2px;
        }
      }
    }
  }
  .lang_bar{
    padding-left:calc(28% - 30px);
    margin-top: 5px;
    .slider{
      width:calc(65% - 35px);
      display: inline-block;
      .tooltip{
        display: none !important;
      }
      .slider-handle{
        top: -5px !important;
        width: 30px !important;
        height: 30px !important;
        background: rgb(80, 120, 220);
        z-index:50;
      }
      .slider-selection{
        //height: 20px !important;
        //top: -5px !important;
        background: rgb(46, 82, 189);
      }
      .slider-track-high{
        //top: -5px;
        //height:20px;
        background: #fff;
        -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2)
      }
    }
    .country_flag{
      display: inline-block;
      margin-right: 10px;
      .image{
        height:28px;
        width:40px;
      }
    }
    .jp_country{
      margin-left:18px;
    }
  }
  .col-sm-6{
    padding-left:5px;
    float:left;
    width:50%;
  }
  .thread_all{
    margin-top: 5px;
    .thread_title{
      color:#000000;
      .float_jp{
        font-size:12px;
      }
    }

    .thread_cover{
      background-color: #ffffff;
      padding:20px;
      border-radius: 5px;
      margin-bottom:10px;
      border:solid thin #dddddd;
      .group_user_cover{
        display: inline-block;
        vertical-align: middle;
        height:100%;
        margin-right: 10px;
        margin-top:10px;
        .group_img_cover{
          text-align: center;
          .group_img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius:50%;
          }
        }
        .group_name{
          padding-top:1px;
          font-size:15px;
          text-align: center;
          color:#000000;
        }
      }
      .thread_content{
        display: inline-block;
        vertical-align: top;
        color:#000000;
        width:calc(100% - 60px);
        .thread_title{
          padding-left:10px;
          padding-right:10px;
          font-size:18px;
          background:#fff7cf;
          .title_padding{
            text-align: center;
            font-size:18px;

            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .post_content_cover{
          display: inline-block;
          font-size:16px;
          width:calc(100%);
          .user_name{
            color:#365899;
            font-weight: bold;
          }
          .post_content_position{
            display:inline-block;
            vertical-align:top;
            width:calc(50% - 15px);
          }
          .post_content_position_space{
            display: inline-block;
            margin-top: 30px;
            .img{
              width:20px;
              height:20px;
            }
          }
          .post_content{
            text-align: center;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            .post_content_text{
              margin:auto;
              margin-top:5px;
            }
          }
        }
        .lang_type{
          float:right;
          margin-top:4px;
          .lang-show{
            border-radius: 5px;
            font-size:15px;
            padding:4px;
            padding-left:7px;
            padding-right:7px;
            background-color: #fff0b0;
          }
        }
      }
    }
  }
}
