
.thread_page{
  .thread_link:hover{
    .thread_cover{
      background-color: rgba(252,248,210,1);
    }
  }

  .lang_bar_cover{
    background: #ffffff;
    position:fixed;
    width:100%;
    margin-left:-5%;
    padding-left:5%;
    margin-top:-20px;
    border-bottom: solid thin #BF8454;
    .lang_bar{
      padding-left:calc(10% + 80px);
      padding-top:10px;
      padding-bottom:10px;
      .slider{
        width:calc(10% + 250px);
        display: inline-block;
        .tooltip{
          display: none !important;
        }
        .slider-handle{
          top: -5px !important;
          width: 30px !important;
          height: 30px !important;
          background: rgb(80, 120, 220);
          z-index:50;
        }
        .slider-selection{
          //height: 20px !important;
          //top: -5px !important;
          background: rgb(46, 82, 189);
        }
        .slider-track-high{
          //top: -5px;
          //height:20px;
          background: #fff;
          -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2)
        }
      }
      .country_flag{
        display: inline-block;
        margin-right: 10px;
        .image{
          height:28px;
          width:40px;
        }
      }
      .jp_country{
        margin-left:18px;
      }
    }
  }
  .panel-title{
    margin-top:50px;
    display: inline-block;
    margin-bottom:10px;
    padding-left:20px;
    font-size:20px;
    color:#BF8454;
    .float_jp{
      font-size:12px;
    }
  }
  .pvpage_head{
    border-top:3px solid #fff2a0;
    .pvpage_lang{
      display:inline-block;
      vertical-align: bottom;
      width:100%;
      padding-top:10px;
      .en_position{
        margin-left:calc(20% + 70px);
      }
      .jp_position{
        margin-left:calc(55% - 195px);
      }
      .lang_show{
        display:inline-block;
        font-size:20px;
        text-align:center;
        .float_jp{
          font-size:12px;
        }
        .base_en{
          margin-top:-2px;
        }
      }
    }
  }
  .lang_bar{
    padding-left:calc(28% - 30px);
    margin-top: 5px;
    .slider{
      width:calc(65% - 75px);
      display: inline-block;
      .tooltip{
        display: none !important;
      }
      .slider-handle{
        top: -5px !important;
        width: 30px !important;
        height: 30px !important;
        background: rgb(80, 120, 220);
        z-index:50;
      }
      .slider-selection{
        //height: 20px !important;
        //top: -5px !important;
        background: rgb(46, 82, 189);
      }
      .slider-track-high{
        //top: -5px;
        //height:20px;
        background: #fff;
        -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.2)
      }
    }
    .country_flag{
      display: inline-block;
      margin-right: 8px;
      .image{
        height:28px;
        width:40px;
      }
    }
    .jp_country{
      margin-left: 20px;
    }
  }
  .col-sm-6{
    padding-left:5px;
    float:left;
    width:50%;
  }
  .thread_all{
    margin-top: 5px;
    .thread_title{
      color:#000000;
      .float_jp{
        font-size:12px;
      }
    }
    .thread_cover{
      background-color: #ffffff;
      padding:20px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-radius: 0px;
      border:solid thin #dddddd;
      .group_user_cover{
        display: inline-block;
        vertical-align: top;
        height:100%;
        margin-right: 10px;
        margin-top:10px;
        .group_img_cover{
          text-align: center;
          .group_img {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius:50%;
          }
        }
        .group_name{
          padding-top:1px;
          font-size:15px;
          text-align: center;
          color:#000000;
        }
      }
      .thread_content{
        display: inline-block;
        vertical-align: top;
        color:#000000;
        width:calc(100% - 60px);
        .thread_title{
          padding-left:10px;
          padding-right:10px;
          font-size:18px;
          background:#fff7cf;
          .title_padding{
            text-align: center;
            font-size:18px;

            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
          }
        }
        .post_content_cover{
          display: inline-block;
          font-size:16px;
          width:calc(100% - 40px);
          .user_name{
            color:#365899;
            font-weight: bold;
          }
          .post_content_position{
            display:inline-block;
            vertical-align:top;
            width:calc(50% - 15px);
            .title_space{
              //margin-top:20px;
            }
          }
          .post_content_position_space{
            display: inline-block;
            margin-top:20px;
            .img{
              width:20px;
              height:20px;
            }
          }
          .post_image_cover{
            padding:auto;
            .post_image{
              margin-top:10px;
              //margin-left:calc(50% - 75px);
              margin-left:40px;
              max-width:180px;
              max-height:200px;
            }
          }
          .post_content{
            text-align: center;
            overflow : hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            .post_content_text{
              margin:auto;
            }
            .post_image{
              width:100%;
            }
          }
        }
        .lang_type{
          float:right;
          margin-top:4px;
          .lang-show{
            border-radius: 5px;
            font-size:15px;
            padding:4px;
            padding-left:7px;
            padding-right:7px;
            background-color: #fff0b0;
          }
        }
      }
    }
    .thread_not_first{
      padding:8px !important;
      padding-left:20px !important;
      padding-right:20px !important;
      padding-bottom:20px !important;
      margin-bottom:0px !important;
      border-radius: 0px;
      .thread_content{
        vertical-align: middle;
      }
      .post_content_position{
        vertical-align: middle;
      }
      .post_content_position_space{
        margin-top:0px!important;
      }
    }
  }
  .footer{
    position:fixed;
    width:100%;
    bottom:5px;
    .post_button{
      background: #fff0a08f;    
      border: solid thin #cd853f75;
      color:#cd853f;
      padding-left:20px;
      padding-right:20px;
      vertical-align:top;
      margin-top: 5px;
      margin-right:1vw;
      .image{
        width:28px;
        height:20px;
        margin-top:-15px;
      }
      .picture_send{
        display: inline-block;
        margin-right:0px;
        width:28px;
        margin-left:5px!important;
      }
      .button_text{
        display: inline-block;
        .float_jp{
          font-size:12px;
        }
      }
    }
    .post_form{
      display:inline-block;
      vertical-align: top;
      margin-top:5px;
      //display: none;
      .image_send_button{
        background: #fff;
        border: solid thin #BF8454;
        color:#BF8454;
        width:60px;
        height:50px;
        font-size:20px;
        .picture_send{
          margin-top:8px;
        }
      }
      .post_button{
        vertical-align:top;
        height:60px;
        min-width:calc(10%);
        font-size:25px;
        .picture_send{
          margin:10px;
        }
      }
    }
    .post_footer{
      display: inline-block;
      bottom:5px;
      width:calc(30% + 350px);
      background: #ffffff;
      border:solid thin #BF8454;
      //padding:10px;
      border-radius:5px;
      max-height:60px;
      .picture_send{
        color: #cd853f;
        font-size:20px;
        margin-left: 10px;
      }
      .post_text{
        color: #cd853f;
        display:inline-block;
        font-size:18px;
        padding:10px;
        .float_jp{
          font-size:12px;
        }
      }
      .image_btn{
        height:40px;
        .picture_send{
          bottom:10px;
        }
      }
    }
  }
}
.thread_post_cover{
  .window2{
    margin-top:150px;
  }
  .thread_post{
    padding-left:10px;
    margin-top:30px;
    width:100%;
    label > input {
      display:none;	/* アップロードボタンのスタイルを無効にする */
    }
    .post_form_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 30px);
      text-align: center;
      ::placeholder{
        color:#bbb;
        text-align: center;
        margin-top:50px;
        font-size:16px;
      }
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
      }
    }
    .post_form_cover_en{
      width:60%;
      margin-left:20%;
    }
    .post_form_cover_jp{
      width:60%;
      margin-left:20%;
    }
    .connect_btn{
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .space_form{
      display: inline-block;
      padding-left: 50px;
    }
    .post_data_cover{
      display: inline-block;
      vertical-align: bottom;
      width:calc(50% - 100px);
      text-align: center;
      .image{
        width:40px;
        height:28px;
        margin-bottom:3px;
        margin-left: calc(50% - 20px);
        display:block;
      }
      .data_show{
        font-size:16px;
        border-radius:5px;
        border:solid thin #ccc;
        height:160px;
        padding:10px;
        width:100%;
        word-wrap: break-word;
      }
    }
  }
  .translate_cover{
    display: inline-block;
    margin-bottom: 10px;
    padding:10px;
    .explain_text{
      text-align: center;
      font-size:15px;
      width:170px;
      word-wrap: break-word;
    }
    .image{
      margin-top:10px;
      height:30px;
      width:170px;
      margin-bottom:20px;
    }
  }
  .img_send{
    margin-left:calc(50% - 10px);
    background: #fff0a0;
    color:#cd853f;
    border:solid thin #ccc;
  }
  .button_panel_cover{
    display: inline-block;
    vertical-align: top;
    width:calc(33% - 10px);
    margin-left:5px;
    .button_panel{
      background: #fff0a042;
      width:100%;
    }
  }
  .button_text{
    text-align: center;
  }
  .modal-footer{
    .btn_back{
      display: inline-block;
      margin-right:30px;
      font-size:16px;
      padding-top:2px;
      padding-bottom:2px;
      padding-left:15px;
      padding-right:15px;
      color:#777;
    }
    .btn_send{
      display: inline-block;
      font-size:16px;
      padding-top:3px;
      padding-bottom:3px;
      padding-left:16px;
      padding-right:16px;
      background: #fff0a0;
      border:solid thin #ddd;
      color: #cd853f;
    }
    .float_jp{
      font-size:12px;
    }
    .base_en{
      margin-top:-3px;
    }
  }
  .post_button{
    background: #fff6c6bd;
    border: solid 1px #cd853f4d;
    color:#cd853f;
    padding-left:20px;
    padding-right:20px;
    word-wrap: break-word;
    margin-left:calc(50% - 30px);
    .picture_send{
      display: inline-block;
      margin-right:10px;
    }
  }
  .especial{
    margin-left:calc(50% - 50px);
  }
}
@media screen and (max-width: 720px){
  .thread_footer{
    min-width:720px;
  }
}
