.thread_show{
  .thread_show_category{
    width:800px;
    margin-left:10px;
    margin-bottom:10px;
    .thread_show_head{
      background-color: rgba(255,235,110,1);
      .thread_show_title{
        font-size:20px;
      }
    }
  }
  .thread_show_content{
    border:1px solid #faebcc;
    margin-top:20px;
    width:800px;
    margin-left:10px;
    .thread_head{
      background-color: rgba(255,235,110,1);
      .thread-title{
        font-size:20px;
      }
    }
    .thread_lang{
      .lang_show{
        font-size:20px;
        text-align:center;
      }
    }

    .thread_all{
      padding-left:30px;
      padding-right:30px;
      .thread_title{
        background-color: rgba(255,235,110,1);
      }
      .thread_content_cover{
        .thread_content_header{
          background-color: rgba(255,235,110,1);
        }
        .thread_content{
          border:1px solid #faebcc;
          height:110px;
          color:#000000;
          .group_user_cover{
            .group_img_cover{
              text-align: center;
              .group_img {
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius:50%;
              }
            }
            .group_name{
              padding-top:1px;
              font-size:15px;
              text-align: center;
            }
          }
          .post_content_cover{
            font-size:20px;
            float:left;
            padding-left:20px;
            .post_content{
              height:55px;
              .post_content_text{
                margin:auto;
              }
              .post_content_img{
                .post_img{
                  width: 150px;
                  height: 80px;
                }
              }
            }
          }
          .lang_type{
            float: right;
            margin-top:4px;
            .lang-show{
              border-radius: 5px;
              font-size:15px;
              padding:4px;
              padding-left:7px;
              padding-right:7px;
              background-color: rgba(255,225,139,1);
            }
          }
        }
      }
    }
  }
}
.thread_post{
  width:800px;
  padding-left:10px;
  .thread_text_post{
    width:100%;
  }
  .picture_send{
    font-size:15px;
  }
  label > input {
    display:none;	/* アップロードボタンのスタイルを無効にする */
  }
}
