.sign_page_cover{
  vertical-align: center;
  padding-left:calc(180% - 1150px);
  .login_page{
    width:500px;
    vertical-align: center;
    .first_coment{
      font-size: 25px;
      text-align: center;
      margin-top:20px;
      margin-bottom:20px;
    }
    .alert-message{
      margin-top:5px;
      margin-left: 50px;
      margin-right: 50px;
    }
    .title{
      font-size: 23px;
      margin-top:5px;
      .float_jp{
        text-align: center;
        font-size:12px;
      }
      .base_en{
        text-align: center;
      }
    }
    .input-groups{
      margin-top:16px;
      margin-left: 50px;
      margin-right: 50px;
      .input_title{
        font-size: 18px;
        .float_jp{
          font-size: 10px;
        }
        .base_en{
          margin-top:-2px;
        }
      }
      .input_form{
        margin-top:5px;
      }
    }
    .submit_button_cover{
      margin-top:40px;
      text-align: center;
      .submit_button{
        padding-left:20px;
        padding-right:20px;
        font-size:17px;
        background:#fff0a0;
        .float_jp{
          font-size:10px;
        }
        .base_en{
          margin-top:-3px;
        }
      }
    }
  }
}
