<div class="add_header">
  <div class="thread_button_all">
    <%= link_to "/groups", class: " btn btn-danger thread_button help" do %>
      <div class="thread_button_jp">緊急スレッド</div>
      Help Thread
    <% end %>
    <% if @test_id.nil? %>
      <%= link_to "/groups", data: {"turbolinks"=>false},class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% else %>
      <%= link_to "/groups/?category_id=#{@test_id}",data: {"turbolinks"=>false}, class: "btn btn-info thread_button make" do %>
        <div class="thread_button_jp">スレッド作成</div>
        Make Thread
      <% end %>
    <% end %>
  </div>
</div>
